

<div class="jumbotron text-white bg-dark text-center">

    <h2>Bienvenido</h2>
    <p> Sistema Multiservicios</p>
</div>


<div class="container ">
     
    <div class=" row form-group">
        @Html.ActionLink("Registro de Tareas", "RegistroTarea", "Default", new { @class = "btn btn-dark form-control" })
    </div>
    <div class="row form-group">
        @Html.ActionLink("Calculadora", "Calculadora", "Default", new { @class = "btn btn-dark form-control" })
    </div>
    <div class="row form-group">
        @Html.ActionLink("Conversor", "Conversor", "Default", new { @class = "btn btn-dark form-control" })
    </div>
    <div class="row form-group">
        @Html.ActionLink("Facebook", "Facebook", "Default", new { @class = "btn btn-dark form-control" })
    </div>
    <div class="row form-group">
        @Html.ActionLink("Acerca De", "Acerca", "Default", new { @class = "btn btn-dark form-control" })
    </div>

</div>
